[Unit]
Description=Goredar's Domotics Server

[Service]
Type=simple
SyslogIdentifier=gds
User=domotics
ExecStart=/usr/local/rvm/rubies/ruby-1.9.3-p448/bin/ruby /srv/domotics/app.rb
[Install]
WantedBy=multi-user.target