.row
  = render 'shared/notice'
.row
  .large-6.columns.room#room_1
    %span.label Детская комната
  .large-6.columns.room#room_2
    %span.label Зал-гостинаая
.row
  .large-6.columns.room#wc
    %span.label Туалет
  .large-6.columns.room#br
    %span.label Ванная комната
.row
  #terminal_info
    = render 'term_output'