.row
  = render 'shared/notice'
.row
  .large-6.columns.room#room_1
    .small-1.columns
      = link_to('#', { :class => 'button tiny expand' }) do
        %i.icon-circle-arrow-left.icon-large
      = link_to('#', { :class => 'button tiny expand' }) do
        %i.icon-plus-sign.icon-large
      = link_to('#', { :class => 'button tiny expand' }) do
        %i.icon-minus-sign.icon-large
    .small-11.columns.expand_all
      .line_top.light_group
        - 5.times do
          .circle.v-small-12
      .line_left.light_group
        - 4.times do
          .circle.small-12
      .line_right.light_group
        - 4.times do
          .circle.small-12
      .line_bottom.light_group
        - 5.times do
          .circle.v-small-12