.row
  = render 'shared/notice'
.row
  .large-6.columns.room#room_1
    .line_top
      - 5.times do
        .circle_inline
    .line_left
      - 4.times do
        .circle
    .line_right
      - 4.times do
        .circle
    .line_bottom
      - 5.times do
        .circle_inline