//- @actions = [{label: t('action_bar.server_refresh'), path: server_refresh_path, options: {remote: true}},
//  {label: t('action_bar.server_clear'), path: server_clear_path, options: {remote: true}}]
= render 'shared/notice'
.span10
  .row
    .span6.room#room_1
      %span.badge.badge-inverse Детская комната
    .span6.room#room_2
      %span.badge.badge-inverse Зал-гостинаая
  .row
    .span6.room#wc
      %span.badge.badge-inverse Туалет
    .span6.room#br
      %span.badge.badge-inverse Ванная комната
  .row
    #terminal_info
      = render 'term_output'