.small-11.columns.expand_all
  .line_top.light_group
    - 5.times do
      .circle.v-small-12.vc_5
  .line_center.light_group
    .circle.v-small-12
  .line_left.light_group
    - 4.times do
      .circle.small-12.c_4
  .line_right.light_group
    - 4.times do
      .circle.small-12.c_4
  .line_bottom.light_group
    - 5.times do
      .circle.v-small-12.vc_5
  .corner_1.light_group
    - 4.times do
      .circle.v-small-6
  .corner_2.light_group
    - 4.times do
      .circle.v-small-6
  .corner_3.light_group
    - 4.times do
      .circle.v-small-6
  .corner_4.light_group
    - 4.times do
      .circle.v-small-6