.small-1.v-small-12.columns.white
  = link_to('#', { :class => 'button tiny expand' }) do
    %i.icon-brightnessfull.icon-2x
  = link_to('#', { :class => 'button tiny expand' }) do
    %i.icon-brightnesshalf.icon-2x
  = link_to('#', { :class => 'button tiny expand' }) do
    %i.icon-brightness.icon-2x
  = link_to('#', { :class => 'button tiny expand' }) do
    %i.icon-off.icon-2x