.small-1.v-small-12.columns.white
  = link_to('#', { :class => 'button tiny expand' }) do
    %span.label.round.alert max
  = link_to('#', { :class => 'button tiny expand' }) do
    %i.icon-minus-sign.icon-2x
  = link_to('#', { :class => 'button tiny expand' }) do
    %i.icon-minus-sign.icon-2x