/* Sidebar navigation */
.side-nav {
  padding: 0;
  border-top: none;
  li {
    margin: -1px 0 0;
    padding: 5px 10px;
    border-top: 1px solid #4d4d4d;
    &:hover {
      background-color: #efefef;
    }
  }
}
/* Elements */
div.element_container div {
  min-height: 80px;
  background-color: white;
  &:hover {
    background-color: #efefef;
  }
}
/* icobutton */
.icobutton {
  float:right;
  padding-top: 3px;
  padding-right: 3px;
  i {
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
}
/* Alert box */
.alert-box {
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
.expand_all {
  width: 100%;
  height: 100%;
}
.v-small-12 {
  height: 100%;
}
.v-small-6 {
  height: 45%;
}
.v-small-1 {
  height: 8.33%;
}
.white {
  background: #fff;
}