$border_width: 1px;
$border_color: #cccccc;

@mixin element_border {
  border-top: 1px solid #cccccc;
  &:hover {
    background-color: #fff;
  }
}
/* Sidebar navigation */
.side-nav {
  padding: 0;
  border: 1px solid #cccccc;
  border-top: none;
  li {
    margin: -1px 0 0;
    padding: 5px 10px;
    background-color: #efefef;
    border-top: 1px solid #cccccc;
    &:hover {
      background-color: #fff;
    }
  }
}
/* Elements */
.element_container {
  div {
    min-height: 128px;
    background-color: #fff;
    &:hover {
      background-color: #eee;
    }
  }
}
/* icobutton */
span.icobutton {
  float:right;
  i {
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
}
/* Alert box */
.alert-box {
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}