@import "font-awesome";

/* Some fix for top bar */
/*section.top-bar-section ul li a {
  height: 45px;
}*/
/* Whitespace after Icons */
/*[class*="icon-"] {
  margin-right: 5px;
}*/
/* Fix allign for lagre icons */
.icon-2x {
  vertical-align: middle;
}