#room_1 {
  background-color: #d0d0d0;
}
.line_top {
  position: absolute;
  width: 80%;
  left: 10%;
  height: 8%;
}
.line_bottom {
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 10%;
  height: 8%;
}
.line_left {
  position: absolute;
  left: 0;
  top: 10%;
  width: 5%;
  height: 80%;
}
.line_right {
  position: absolute;
  right: 0;
  top: 10%;
  width: 5%;
  height: 80%;
}
.circle {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  &:hover {
    border: 1px solid #2ba6cb;
  }
}