#playroom {
  border-bottom: 5px solid #5da423;
  &:hover {
    border-bottom: 5px solid #457a1a;
  }
}
#main_lights {
  text-align: center;
  position: absolute;
  top: 42%;
  width: 20%;
  left: 40%;
  height: 16%;
}
#line_1_lights {
  text-align: center;
  position: absolute;
  top: 5%;
  width: 70%;
  left: 15%;
  height: 8%;
}
#line_2_lights {
  position: absolute;
  right: 5%;
  top: 10%;
  width: 5%;
  height: 80%;
}

#line_3_lights {
  text-align: center;
  position: absolute;
  width: 70%;
  bottom: 5%;
  left: 15%;
  height: 8%;
}
#line_4_lights {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 5%;
  height: 80%;
}
#corner_1_lights {
  position: absolute;
  top: 20%;
  width: 12%;
  left: 25%;
  height: 18%;
}
#corner_2_lights {
  position: absolute;
  top: 20%;
  width: 12%;
  right: 25%;
  height: 18%;
}
#corner_3_lights {
  position: absolute;
  bottom: 20%;
  width: 12%;
  right: 25%;
  height: 18%;
}
#corner_4_lights {
  position: absolute;
  bottom: 20%;
  width: 12%;
  left: 25%;
  height: 18%;
}