.room {
  background-color: #d0d0d0;
}
.light_group {
  &:hover .circle {
    border: 2px solid #2ba6cb;
  }
  &.active .circle {
    background-color: #2ba6cb;
  }
  &.active:hover .circle {
    border: 2px solid #fff;
  }
}
.circle {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}
.vc_5 {
  margin: 0 5%;
}
.c_4 {
  margin: 75% 0;
}