@mixin element_style {
  //opacity: 0.7;
  //border: 1px solid black;
  //box-shadow: 5px 5px 3px #888888;
  //border-radius:5px;
}
@mixin center_content {
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div {
  position: relative;
  float: left;
}

html {
  @include center_content;
  background-color: #fff;
  //background: url(../img/bg.gif) repeat;
}

body {
  font-size: 150%;
}

.right {
  float: right;
}
[class*="square"], [class*="rectangle"] {
  @include center_content;
  vertical-align: baseline;
  font-size: 200%;
}

.square-2x {
  font-size: 400%;
}

.s1 {
  background: #74A6BD;
}
.s2 {
  background: #7195A3;
}
.s3 {
  background: #D4E7ED;
}
.s4 {
  background: #EB8540;
}
.s5 {
  background: #AB988B;
}
.s7 {
  background: #FF988B;
}

[id*="corner"] div {
  @include center_content;
  @include element_style;
  width: 100%;
  height: 100%;
  &.on {
    background: #D4E7ED;
    & span::before { content: '\e0f9'; }
  }
  &.off {
    background: #74A6BD;
    & span::before { content: '\e0fa'; }
  }
}