* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, div {
  position: relative;
  float: left; }

html {
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  background-color: #FFF;
  color: #111; }

.right {
  float: right; }

[class*="square"], [class*="rectangle"] {
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  vertical-align: baseline;
  font-size: 100%; }

.square-2x {
  font-size: 200%; }

.green {
  background: #37da7e; }

.blue {
  background: #66d1ff; }

.grey {
  background: #a8b1b8; }

.purple {
  background: #a68dcc; }

.red {
  background: #ff2030; }

[id*="corner"] div {
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  width: 100%;
  height: 100%; }
  [id*="corner"] div.on {
    background: #66d1ff; }
  [id*="corner"] div.off {
    background: #a8b1b8; }

.label {
  position: absolute;
  font-size: 30%;
  bottom: 0;
  left: 0.25em;
  font-weight: bold; }
