- if flash[:notice]
  .alert-box.alert-succsess{:data => {:alert => true}}
    %a.close{:href => "#"} &times;
    %h6 #{t('c.success')}
    = flash[:notice]
- elsif flash[:alert]
  .alert-box.secondary{:data => {:alert => true}}
    %a.close{:href => "#"} &times;
    %h6 #{t('c.error')}
    = flash[:alert]