- @title=t('c.editing')
- @actions=[{label: t('c.back'), path: device_types_path}]
= render(partial: 'shared/type_form', object: @device_type)
= render(partial: 'shared/type_form_buttons', object: @device_type)