- @title = t('c.editing')
- @actions = [{label: t('c.back'),path: element_types_path}]
= render(partial: 'shared/type_form', object: @element_type)
= render(partial: 'shared/type_form_buttons', object: @element_type)